<h2>Editar Datos</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :name, :required => true %>
    <%= f.input :password, :autocomplete => "off",
                :hint => "Dejalo en blanco si no lo quieres cambiar.",
                :required => false %>
    <%= f.label "Confirmacion de Password" %>
    <%= f.input_field :password_confirmation, :required => false %>
    <%= f.label "Password actual" %>
    <%= f.input_field :current_password,
                :hint => "Necesitamos tu password actual para efectual cualquier cambio.",
                :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar" %>
    <%= link_to "Volver", :back, class: 'btn' %>
    <%= link_to "Cancelar Cuenta", "#cancel_acount", data: { toggle: "modal" },
                class: "btn btn-danger" %>
  </div>
<% end %>

<div id="cancel_acount" class="modal hide">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Cancelar Cuenta!</h3>
    </div>
    <div class="modal-body">
      <p>¿No te gusto?</p>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancelar Cuenta", registration_path(resource_name),
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete, :class => "btn btn-danger" %>
      <%= link_to "Volver", "#", class: "btn", data: { dismiss: "modal" } %>
  </div>
</div>

